/* @override 
	http://www.kunstraum-kreuzlingen.ch/wordpress/wp-content/themes/KK-theme/css/kk.css
	http://www.kunstraum-kreuzlingen.ch/wordpress/wp-content/themes/KK-theme/css/dev/20-kk.css
	http://kunstraum:8888/wp-content/themes/KK-theme/css/dev/20-kk.css */



/*******************************************
*** Main CSS Site Layout ***
*******************************************/

/* @group Fonts */

body { 
	font: 0.875em 'Open Sans', Arial, Helvetica, Sans-Serif; 
	*font-size:small; 
	*font:x-small; 
	line-height:1.3;
	
	letter-spacing: 0.04em;
/*	font-stretch: expanded; */
	}

input, textarea, keygen, select, button {
	font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 
Agree: In most cases, #333 beats #000 for "black" text on white web pages. @simplebits #aea
*/ 

b, 
strong {
		letter-spacing: 0.0em;
	}

body {
/*	font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;*/
}

.wf-loading .lib-serif {
	font-family: serif;
}

.wf-inactive .lib-serif {
	font-family: serif;
}

.margin-zero {
	margin: 0;
}

.bold-title, .strong {
	font-weight: bold;
}

.italic-title {
	font-style: italic;
}

/* @end */




/* @group Basics */
	body {
		background: #ddd;
		
		background-image: linear-gradient(left top, rgb(209,209,209) 25%, rgb(245,245,245) 61%);
		background-image: -o-linear-gradient(left top, rgb(209,209,209) 25%, rgb(245,245,245) 61%);
		background-image: -moz-linear-gradient(left top, rgb(209,209,209) 25%, rgb(245,245,245) 61%);
		background-image: -webkit-linear-gradient(left top, rgb(209,209,209) 25%, rgb(245,245,245) 61%);
		background-image: -ms-linear-gradient(left top, rgb(209,209,209) 25%, rgb(245,245,245) 61%);
		
		height: 100%;
		
		background-attachment: fixed;
	}
	
body.tiefparterre {
	background: #333;
	
	background-image: linear-gradient(left top, rgb(110,110,110) 5%, rgb(38,40,40) 91%);
	background-image: -o-linear-gradient(left top, rgb(110,110,110) 5%, rgb(38,40,40) 91%);
	background-image: -moz-linear-gradient(left top, rgb(110,110,110) 5%, rgb(38,40,40) 91%);
	background-image: -webkit-linear-gradient(left top, rgb(110,110,110) 5%, rgb(38,40,40) 91%);
	background-image: -ms-linear-gradient(left top, rgb(110,110,110) 5%, rgb(38,40,40) 91%);
	
	height: 100%;
	
	background-attachment: fixed;
}
	
	/*Webkit Gradient*/
	html {
/*		background-image: -webkit-gradient(
			linear,
			left top,
			right bottom,
			color-stop(0.25, rgb(209,209,209)),
			color-stop(0.61, rgb(245,245,245))
		);*/
	}
	
	body, select, input, textarea,
	a, a:active, a:visited,
	a:hover
	{ 
		color:#222; 
	}
	
	.a-link,
	a {
		text-decoration: none;
/*		padding-bottom: 1px;*/
		border-bottom: 1px solid #333;
	}

body.tiefparterre,
.tiefparterre a, .tiefparterre a:active, .tiefparterre a:visited,
.tiefparterre a:hover {
	color: #eee;
}	
	.tiefparterre a {
		border-bottom-color: #999;
	}
	
	p {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}
	
	#container {
	/* for large screens */
		padding-top: 0px;
/*		padding-top: 57px;*/
	}
	
	.zentr {
		margin: 0 auto;
		max-width: 1000px;
		min-width: 620px;
	}
	
	ul,
	li,
	.zero {
		margin: 0;
		padding: 0;
		border: 0;
	}
	
	ul.clean {
		list-style: none;
	}
	
	.hidden {
		display: none;
	}
	.jq-hidden {
		display: none;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	
	
	h1.bold, h2.bold, h3.bold, h4.bold {
		font-weight: bold;
	}
	
/*	.h1 { font-size: 220%; }*/
	.h1 { font-size: 150%; }
	.h2 { font-size: 125%; }
	.h3 { font-size: 110%; 
	margin: 0.2em 0 0.3em 0;
	}
	.h4 { /*font-size: 120%;*/ }
	.h5 {  }
	
	.small-font {
		/* font-size: 110%; */
		/* 11pt */
	}
	.norm-font {
/*		font-size: 120%;*/
	}
	.medium-font {
/*		font-size: 130%;*/
	}
	.large-font {
/*		font-size: 140%;*/
	}
	.larger-font {
/*		font-size: 110%;*/
		line-height: 1.35em;
	}
	
	.larger-font p {
		margin-top: 0;
		margin-bottom: 0;
	}
	.fussnote {
		text-indent: 0;
		margin-top: 1em;
		margin-left: 2em;
		font-style: italic;
	}
	
	.indented {
		text-indent: 2em;
	}
	
	.indented p:first-child {
		text-indent: 0;
	}
	
	.edit,
	#infobox .edit 
	{
		padding: 1px 15px 10px 15px;
	}
	.home .edit {
		padding: 0px;
	}
	p.edit {
		margin: 1px 0 0 0;
	}
	
	.ital {
		font-style: italic;
	}
	
	.trueblack {
		color: #000;
	}
	
	.largetype {
		font-size: 170%;
		line-height: 1.2em;
	}
	
	.ultra-gross {
		font-size: 650%;
		margin-top: 80px;
		margin-bottom: 80px;
		color: #222;
	}
	
	.block {
		padding: 1px 15px 1px 15px;
	}
		
	.greybg {
		background: #eaeaea;
	}
	.img {
		display: block;
	}
	
	.unstyled, 
	.unstyled-plus,a.unstyled-plus,
	.unstyled-plus a,
	a.unstyled:active, 
	a.unstyled:visited,
	.unstyled a 
	{
		text-decoration: none;
		border-bottom: 0px;
		color: #000;
	}

	.tiefparterre .unstyled,
	.tiefparterre a.unstyled:active, 
	.tiefparterre a.unstyled:visited,
	.tiefparterre .unstyled a 
	{
		text-decoration: none;
		border-bottom: 0px;
		color: #eee;
/*		font-weight: bold;*/
	}
	
	.unstyled:hover {
		text-decoration: none;
		border-bottom: 0px;
		color: #000;
	}
	
.tiefparterre .unstyled:hover {
	text-decoration: none;
	color: #eee;
}

	.unstyled a:hover {
/*		text-decoration: underline;*/
		border-bottom: 1px solid;
	}
	
	a h3,
	a .h3link {
		text-decoration: none;
		color: #000;
	}
	
	a:hover .h3link::after {
		content:' >>';
		font-size: 70%;
		margin: 6px 0px 0px 5px;	
		position: absolute;	
	}
	
	.diaphane img {
		/*opacity: 0.8;*/
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	
	.diaphane:hover img {
		opacity: 1;
	}
	
	.compact  {
		line-height: 1.3;
	}
	.compact-content {
		margin: 0;
/*		line-height: 1.2;*/
	}
	
	.leftfloat {
		float: left;
	}
	
	.rightfloat {
		float: right;
	}
	
	.largeblock {
		width: 66%;;
	}
	
	.top-margin {
		margin-top: 20px;
	}
	
	.link-list {
		line-height: 1.4em;
		padding: 0 5px 0 8px;
	}
	
	.link-list a {
		color: #333;
		text-decoration: none;
		border-bottom: 0px;
	}
	
	.link-list a:hover {
		color: #000;
	}
	
	 a.unstyled.u-line:hover,
	a:hover .u-line,
	a.unstyled.u-line:focus,
	a:focus .u-line {
		text-decoration: underline;
	}
	
	.dblock {
		display: block;
	}
	
	.small {
		font-size: 86%;
		
	}
	
	.bold {
		font-weight: bold;
	}
	
	.main-content ul {
/*		padding-left: 15px;*/
	}
	.main-content ul li {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	
	.no-top-mrg {
		margin-top: 0;
	}
	
	.ajax-loading {
		height: 16px;
		width: 16px;
		background-image: url('../../images/cycle-dark-grey.gif');
		background-repeat: no-repeat;
		margin: 0 10px;
	}
	
	.single-expo .ajax-loading {
		margin-left: 20px;
		margin-top: 30px;
	}
	
	.ajax-error {
		margin: 0 10px;
	}
	
	.infobox .ajax-loading
	{
		background-image: url('../../images/cycle-grey-grey.gif');
		margin: 20px 10px;
	}
	
	.infobox .content .ajax-loading
	{
		margin-top: 0px;
	}
	
	.tiefparterre .ajax-loading,
	.style-tiefparterre .ajax-loading {
		background-image: url('../../images/cycle-pale-grey.gif');
	}
	
		
	/* @end */


/* @group Header */
/* ------------------------------------------------------------------- */

#top-header {
	width: 100%;
	min-height: 150px;
	margin-bottom: 50px;
	float: left;
}
#top-header h1 {
	font-weight: normal;
	padding: 0;
	float: left;
	display: block;
}

.kk-logo {
	margin-top: 70px;
	margin-left: -20px;
}
/* @end */

/* @group Navigation */
/* ------------------------------------------------------------------- */

.main-menu {
	float: right;
	margin-top: 14px;
}

.main-menu {
	
}

.default-menu ul,
.default-menu li {
	list-style: none;
	list-style-image: none;
}

.default-menu li {
	margin: 0 15px 0 15px;
}

.default-menu li:first-child {
	margin-left: 0;
}

.default-menu li:last-child {
	margin-right: 0;
}

.default-menu a {
	text-decoration: none;
	border-bottom: 0px;
	color: #000;
}
.tiefparterre .default-menu a {
	color: #eee;
/*	font-weight: bold;*/
}

.default-menu a:hover,
.default-menu .current-menu-item a {
	border-bottom: 1px solid #000;
	text-decoration: none;
}

.tiefparterre .default-menu a:hover,
.tiefparterre .default-menu .current-menu-item a {
	border-bottom-color: #eee;
}

.horiz-list li {
	float: left;
}

/* @group NAV EXPOS */

.nav-expos {
	margin-bottom: 30px;
	min-height: 30px;
	margin-right: 24px;
}

.archive-container {
	display: block;
/*	float: right;*/
	position: relative;
	padding: 0;
	margin-left: 26em;
/*	border: 1px solid #ccc;*/
	/* UPDATE for 2016: */
	width: 40em;
	margin-left: 16em;
}

.archive-box {
	margin: 0 auto;	
/*	border: 1px solid #d00;*/
	display: block;
	float: left;
	 padding-right: 0;
	 margin-right: 0;
	 padding-left: 1em;
	width: auto;
}

.year-archive {
	display: block;
	position: relative;
	float: left;
	width: 3em;
	margin-left: 1em;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 10px;
	margin-top: -10px;
/*	border: 1px solid red;*/
}

.archive-box .ul-year-archive {
	visibility: hidden;
	display: none;
}

.year-archive:hover {
	background: #e1e1e1;
}

.year-archive:hover .ul-year-archive,
.ul-year-archive:hover {
	display: block;
	visibility: visible;
	position: absolute;
}

.archive-box .active-year ul {
/*	visibility: visible;
	display: inline;
	position: absolute;*/
}

.title-year-archive {
	margin-bottom: 10px;
}
.title-year-archive a {
	padding: 0px 1px 0px 1px;
}
.active-year .title-year-archive .a {
	border-bottom: 1px solid #000;
/*	float: left;*/
}

.tiefparterre .active-year .title-year-archive .a {
	border-bottom: 1px solid #eee;
}

.tiefparterre .active-year:hover .title-year-archive .a {
	border-bottom: 1px solid #000;
}

.tiefparterre .year-archive:hover .title-year-archive {
	color: #000;
}

.ul-year-archive {
	background: #e1e1e1;
/*	padding: 0px 0px 0px 0px;*/
/*min-width: 50px;*/
	min-height: 30px;
	width: 300px;
	padding-bottom: 15px;
/*	margin-left: -30px;*/
	top: 30px;
	left: 0px;
	z-index: 5;
}

.ul-year-archive li {
	padding: 10px 0 0 10px;
/*	float: left;*/
	margin-right: 5px;

}

.ul-year-archive a {
	text-decoration: none;
}

.tiefparterre .ul-year-archive a {
	color: #000;
}

.ul-year-archive .expo-title {
	border-bottom: 1px solid #000;
}

.ul-year-archive .expo-vorschau-prefix,
.ul-year-archive .expo-aktuell-prefix,
.ul-year-archive .kuenstler-name {
	margin-right: 0.5em;
}

.ul-year-archive a.active-page {
	border-bottom: 1px solid #222;
}

.tiefparterre .ul-year-archive a.active-page {
/*	border-bottom-color: #fff;*/
}


.archive-container .next-prev {
	float: right;
	clear: none;
	width: 24px;
	height: 24px;
	display: block;
/*	background: #999;*/
	margin-top: 0px;
	
}

.archive-container .next-prev a {
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	background-repeat: no-repeat;
/*	border: 1px solid #333;*/
}

.archive-container .prev {
	float: right;
/*	border: 2px solid yellow;*/
	position: absolute;
	top:  0;
	right: 0;

}
.archive-container .prev a {
	background-image: url(../../images/arrow-right.png);
}
.tiefparterre .archive-container .prev a {
	background-image: url(../../images/arrow-right-neg.png);
}

.archive-container .next {
	float: left;	
}

.archive-container .next a {
	background-image: url(../../images/arrow-left.png);
/*	border: 2px solid magenta;*/
}
.tiefparterre .archive-container .next a {
	background-image: url(../../images/arrow-left-neg.png);
}


/* @end */

.search-nav {
	float: right;
	clear: right;
/*	border: 1px solid #aaa;*/
	margin-top: 20px;
	margin-right: 15px;
	margin-right: 0px;
	text-align: right;
}
.search-form input.field {
	width: 11em;
/*	height: 2.0em;*/
	display: block;
	float: right;
	border: 0;
	color: #000;
	padding: 5px 6px 4px 6px;
	margin-bottom: 8px;
}

input::-webkit-input-placeholder, 
isindex::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
	color: #000;
	/* override the darkGrey color in Webkit */
}

/* @end */


/* @group Sortieren Menu */

.sortieren {
	margin: 10px 0 20px 0;
	position: relative;
	z-index: 25;
	clear: both;
	width: 14em;
}

.page-template-page-listing-blocks-php .sortieren,
.page-template-page-listing-events-php .sortieren {
	width: auto;
}

.sortieren-h2,
.sortieren-ul {
/*	background: #9C68E5;*/
	background-color: #b789f1;
}

/*.sortieren:hover .sortieren-h2,
.sortieren:focus .sortieren-h2,*/
/*.sortieren-ul */

.page-template-page-listing-blocks-php .sortieren-h2,
.page-template-page-listing-events-php .sortieren-h2,
.page-template-page-listing-blocks-php .sortieren-ul,
.page-template-page-listing-events-php .sortieren-ul
{
	font-size: 120%;
	text-align: left;
	width: 14em;
}

.sortieren-nach {
	display: block;
	padding: 2px 5px 4px 22px;
	border: 0;
	background-image:url('../../images/arrow-down-small.png');
	background-repeat: no-repeat;
	background-position: 6px 6px;
}

.sortieren-ul {
	padding-top: 5px;
	padding-bottom: 10px;
	position: absolute;
	width: 100%;
}

.sortieren-ul .li {
/*	padding: 3px 10px 3px 18px;*/
	width: 100%;
	padding: 3px 0;
}

.sortieren-ul a {
	border-bottom-width: 0;
	padding: 3px 1px 0px 0px;
}

.itm-count {
	padding: 3px 4px 0px 0px;
}

.sortieren-ul a:hover,
.sortieren-ul a:focus {
	border-bottom-width: 1px;
}

/* THE LARGE VERSION :

.sortieren:hover .sortieren-nach,
.sortieren:focus .sortieren-nach,*/
.page-template-page-listing-events-php .sortieren-nach,
.page-template-page-listing-blocks-php .sortieren-nach
 { /* the large down arrow */
	
	padding: 10px 10px 10px 55px;
	
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAYAAABvEu28AAAA1UlEQVR42pXNIYsCQRiH8ZctXjEpyKlNTBaDYBCL30AxmASjxWYw3X0A02IT9CPYxGYzCjaLIFw5Lp2CYNHxCbvwD7K64Tcw8848Y9lMzsMYQ1hMEwxgxuLD4YZ2jMgILtA3lhaucDij9kakK5FfVMJBTwY/KEZEGvLxBXWYXviS2A5pGFQJf3C4owMLQ2oqsRUSMvvEXuZDmIZUAku5PIPhA2s592HPQiqFrTz6xlz2C3hRIVXAEQ5qgyTsVUhVcZLIAXnYuyHVDCL/KMPihtQgCFqUB8Ehfa3ek8+6AAAAAElFTkSuQmCC);
	background-position: 20px 15px;
}

.page-template-page-listing-events-php .itm-count,
.page-template-page-listing-blocks-php .itm-count {
	padding: 0;
}

.page-template-page-listing-events-php .sortieren-ul .li,
.page-template-page-listing-blocks-php .sortieren-ul .li {
	padding: 3px 10px 3px 18px;
	width: auto;
}

.page-template-page-listing-events-php .sortieren-ul a:hover,
.page-template-page-listing-blocks-php .sortieren-ul a:focus {
	border-bottom-width: 1px;
}

.sortieren,
.sortieren a:link,
.sortieren a:hover,
.sortieren a:active,
.sortieren a:focus,
.tiefparterre .sortieren a
{
	color: #222;
	border-color: #222;
}

#sortieren:focus .sortieren-ul,
#sortieren:hover .sortieren-ul {
	display: block;
}

/* @end */

/* @group Main Article */
/* ------------------------------------------------------------------- */



.mainframe {
	margin: 10px 0 60px 0;
/*	background: #fff;*/
	padding: 0;
	min-width: 1010px;
	float: left;
	width: 1024px;
}


.mainframe.single-article,
.single-article .mainframe {
	background: #fff;
/*	padding: 16px;*/
}

.single-article .mainframe-content  {
	padding-left: 16px;
	padding-right: 16px;
}
.single-article .mainframe-header {
	margin-top: 16px;
}
.single-article .main-content {
	margin-bottom: 16px;
}

/* @end */

/* @group Footer */

.main-footer {
	margin: 0px auto 0px auto;
	padding-bottom: 24px;
/*	border: 1px solid #333;*/
}

.footer-menu li {
	margin-right: 0;
}

.footer-menu a {
/*	text-decoration: underline;*/
}

.centr-menu-container {
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
}

.centr-menu-container ul {
   clear:left;
   float:left;
   position:relative;
   left:50%;
   text-align:center;
}

.centr-menu-container ul li {
   display:block;
   float:left;
   margin:0;
   position:relative;
   right:50%;
}

.centr-menu-container ul a,
.centr-menu-container ul p {
   display:block;
   margin: 0 0 0 1px;
   padding: 3px 7px;
/*   color: #000;*/
/*   background:#ddd;*/
/*   text-decoration:none;*/
/*   line-height:1.3em;*/
}

/* @end */

/* @group Front Page */
/* ------------------------------------------------------------------- */

.current-exhibits .mini-capitals {
	width: 495px;
	float: right;
}

.half-sct {
	border: 0px solid #333;
	width: 50%;
	float: left;
}

.half-sct-1st {
}

.half-sct-2nd {
	float: right;
}

/* @group Exhib Group */

.exhib-block-front {
	width: 460px;
	padding: 20px;
	float: right;
	clear: both;
	font-size: 140%;
	margin-bottom: 10px;
}

.exhib-block-m {
	width: 244px;
	padding-top: 10px;
	float: left;
}

.exhib-block-m .h2,
.exhib-block-m .h3 {
	margin: 0px 10px 0px 10px;
}
.exhib-block-m .margin-zero {
	margin: 0;
}
.exhib-block-m .datum {
	margin: 8px 10px 2px 0px;
}
.home .exhib-block-m .datum {
	margin-left: 10px;
}

.exhib-block-m .main-content {
	margin: 0px 10px;
}

/* @end */

.attachment-front-vertical {
	margin: 10px;
}

.home-kunstraum {
	background: #fff;
}

.home-kunstraum a {
	color: #000;
}

.home-tiefparterre {
	background: #2e2e2f;
}

.blok {
	display: block;
}

.exhib-block-1st{
	
}

.exhib-block-2nd {
/*	margin-left: 8px;
	float: left;
	float: right;
	margin-left: 0px;
	margin-right: 16px;*/
}

.tiefparterre-style {
	color: #fff;
}

.tiefparterre-style a.unstyled,
.tiefparterre-style a {
	color: #fff;
	text-decoration: none;
	border-bottom: 0px;
}

.tiefparterre-style a:hover{
	color: #fff;	
}

.mini-capitals {
	text-transform: uppercase;
/*	font-weight: bold;*/
	margin-bottom: 15px;
/*	font-size: 120%;*/
}

.news-list-v {
	width: 244px;
	margin-left: 10px;
	float: left;
}

.news-list-item {
	padding: 10px 10px 10px 10px;
	margin-bottom: 9px;
/*	font-size: 115%;*/
	line-height: 1.4;
	background-color: #c0c0c0;
	
	/* These are technically the same, but use both */
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	
	  -ms-word-break: break-all;
	  /* This is the dangerous one in WebKit, as it breaks things wherever */
	  word-break: break-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;
	
	  /* Adds a hyphen where the word breaks, if supported (No Blink) */
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;
	
}

.news-list-item .datum {
	margin: 0 0 8px 0;
}

.news-list-item p:last-child {
	margin-bottom: 0px;
}

a:hover .u-line-bold {
	border-bottom: 2px solid #333;
}
a:hover .u-line-thin {
	border-bottom: 1px solid #333;
}

.category-tiefparterre a:hover .u-line-thin,
.tiefparterre-style a:hover .u-line-bold {
	border-bottom-color: #eee;
}



.exhib-block-vorschau {
	float: left;
	width: 460px;
	padding: 20px;
	clear: none;
	margin-right: 0px;
	margin-left: -3px;
}

.exhib-block-vorschau.odd {
	/* clear: left;
	margin-right: 10px; */
}

.section-vorschau {
	margin-left: 15px;
	
}

.section-vorschau .mini-capitals {
	margin-top: 10px;
}

.section-vorschau .datum {
	margin-top: 7px;
}

.section-vorschau .category-kunstraum {
	background: #fff;
}

.section-vorschau .category-tiefparterre {
	background: #2E2E2F;
	color: #fff;
}

.section-vorschau .category-tiefparterre a {
	background: #2E2E2F;
	color: #fff;
}

/* @end */

/* @group INFOBOX */

#infobox {
	width: 496px;
	float: left;
	position: relative;
	margin-top: 30px;
	margin-left: 58px;
	margin-bottom: 50px;
	border: 0px solid #333;
}

.infobox-content {
	float: left;
	width: 100%;
	color: #000;
	padding-bottom: 5px;
}
.tiefparterre .infobox-content {
	color: #eee;
}

.infobox-content iframe {
	margin-top: 20px;
}

.kolonne-links,
.kolonne-rechts {
	width: 45%;
}

.kolonne-links {
	float: left;
} 

.kolonne-rechts {
	float: right;
} 

/*
more line height for:
links (71), grundriss (69)
*/
.infobox .post-69 p,
.infobox .post-71 p {
	line-height: 1.7em;
}

/*
special style for Ueber Uns
*/

.infobox .post-10 .content {
	font-size: 140%;
/*	line-height: 1.55em;*/
	text-indent: 2em;
	margin-bottom: 1em;
}
.infobox .post-10 p:first-child {
	text-indent: 0;
}
.infobox .post-10 p {
	margin: 0
}

.infobox-content .header {
	padding: 16px 16px 5px 16px;	
}

.infobox-content nav {
	margin-bottom: 26px;
}

.infobox-content .content {
	padding: 16px 16px 12px 16px;
}



.close-button {
	position: absolute;
	top: 16px;
	right: 16px;
}
.infobox .close-button {
	display: block;
}

/* @group Infobox-Home */

#infobox.infobox-home {
	width: 15em;
	margin-left: 330px;
}

.infobox-home .h2 {
	font-size: 130%;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
    hyphens: none;
}

.infobox .pg {
	margin: 10px 0;
}
.infobox-home .header {
	margin: 2px 5px 15px 5px;
	color: #fff;
	font-weight: bold;
}
.infobox-home .content {
	margin: 10px 5px;
}
.info-tage {
	width: 6em;
	display: block;
	float: left;
}

/* @end */

/* @end */

/* @group Image Gallery */
/* ------------------------------------------------------------------- */
.gallery {
	width: 100%;
	display: block;
	border: 0px solid green;
	float: left;
}

.gallery-caption {
	display: none;
}

.gallery-item {
	float: left;
	display: block;
	padding: 4px;
	margin: 4px;
	border: 2px solid #aaa;
	/*width: auto !important;*/
}

.gallery-item img {
	display: block;
}


/* @end */

/* @group Expo Page */

.single-expo .exhib-block-m, 
.page-listing .exhib-block-m 
{
	background: #fff;
	margin-right: 8px;
	margin-bottom: 8px;
	min-height: 364px; /*deduce padding: 374px - 10px */
}

.page-listing .exhib-block-m {
	min-height: 264px;
}

.tiefparterre .single-expo .exhib-block-m {
	background-color: #272727;
}

.exhib-block-m .expo-vorschau {
	margin-left: 12px;
	margin-bottom: 6px;
}
.tiefparterre .expo-vorschau {
	color: #999;
	font-weight: bold;
}

.expo-img-large,
.expo-img-medium {
	float: left;
	clear: none;
	margin-right: 8px;
	margin-bottom: 8px;
	display: table;
	border: 0px solid #333;
	background: #666;
	overflow: hidden;
}

.img-fx-medium a:hover,
.img-fx-first a:hover {
	cursor: zoom-in;
}

.img-expanded-m a,
.img-expanded-first a {
	cursor: zoom-out;
}


.expo-img-large iframe {
	max-height: 374px;
	height: 374px;
/*	margin: 0;
	padding: 0;*/
	display: block;
/*	overflow: hidden;*/
}



.expo-img-large {
	width: 496px;
	height: 374px;
}

.expo-img-medium {
	width: 244px;
	height: 183px;
}

.expo-img-container {
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	width: 100%;
	border: 0;
	
}
a.expo-img-container {
	border-bottom: 0;
	padding-bottom: 0;
}
.expo-img-container img {
/*	width: 498px;*/
	height: auto;
	margin: 0 auto;
	text-align: left;
	display: block;
}
.expo-img-large img {
	max-width: 496px;
	
}

.expo-img-medium img {
	max-width: 244px;
}

.attach-doc {
	margin-bottom: 10px;
}
.attach-title {
	
}
.attach-link {
	margin-left: 10px;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid;
	font-size: 85%;
}

.exhib-block-intro .connected-material {
	margin: 30px 0 15px 0;
}

.atom-list li {
	padding: 5px 0 10px 0;
}

.hyperlinks {
	margin-top: 25px;
	margin-bottom: 15px;
	
	/* These are technically the same, but use both */
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	
	  -ms-word-break: break-all;
	  /* This is the dangerous one in WebKit, as it breaks things wherever */
	  word-break: break-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;
	
	  /* Adds a hyphen where the word breaks, if supported (No Blink) */
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;
}
.hyperlinks .link {
	line-height: 2;
}
.hyperlinks a {
	text-decoration: none;
/*	padding-bottom: 1px;
	border-bottom: 1px solid #333;*/
}
.hyperlinks a:hover {
	border-bottom-width: 2px;
}
.tiefparterre .hyperlinks a {
	border-bottom-color: #999;
}

.events-page p {
/*	margin-top: 0px;*/
}

/* @group Exhib AJAX */

#exhib-ajax {
	width: 748px;
	position: relative;
}

#exhib-ajax .mainframe {
	width: 620px;
	min-width: 620px;
	background: none;
/*	border: 1px solid #333;*/
}

#exhib-ajax .mainframe-header .related {
	display: none;
}

#exhib-ajax .main-content {
	margin: 20px 0 0 0;
}

#exhib-ajax .events-page .main-content {
	margin-top: 10px;
}

.exhib-ajax-nav {
	margin: 6px 10px 10px 18px;
}

.tdc-nav {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	border: 1px solid transparent;
	display: block;
}

/* @end */

/* @group Kuenstler-Liste */

.k-liste {
	position: absolute;
	margin: -10px 0 0 5.90em;
	padding: 10px 15px 0 15px;
	width: 7em;
	z-index: 8;
}

.k-liste:hover {
	background-color: #e1e1e1;
}


.k-liste .menu-title {
	margin-bottom: 20px;	
}

.border-bottom {
/*	padding-bottom: 5px;*/
	border-bottom: 1px solid;
}

.k-liste .atom-list {
	margin-bottom: 8px;
}

.k-liste .li-kuenstler {
	padding: 0.3em;
}

.ul-kuenstler {
	display: none;
	position: relative;
	width: 1001px;
	margin-left: -7em;
	background-color: #e1e1e1;
	
}



.ul-k-inside {
	padding: 1em;
	border: 0px solid #333;
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
}

.k-liste:hover .ul-kuenstler {
	display: block;
}

.tiefparterre .k-liste:hover {
/*	background-color: #545454;*/
	color: #000;
}
.tiefparterre .ul-kuenstler a {
	color: #000;
}

.print-pdf {
	margin-top: 25px;
	margin-bottom: 30px;
}
.ul-print-pdf li {
	margin: 4px 0px;
}

.mf-content-text {
	margin-bottom: 10px;
}

/* @end */

/* @end */

#exhib-ajax-container .non-ajax {
	display: none;
	/* just for safety ... */
}

/* @group Expo Liste */

.page-ausstellungen .nav-expos{
	margin-bottom: 10px;
}

.expo-listing .li-expo {
	display: block;
}

.actual-exhib {
	margin-left: 35em;
}

.expos-year {
	clear: left;
	margin-top: 5px;
	margin-bottom: 30px;
	display: block;
	float: left;
	width: 100%;
}

.expos-year ul {
}

.print-button-expo {
	margin-bottom: 20px;
	margin-top: 0px;
}


.li-expo .field-1 {
	float: left;
	clear: left;
/*	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;*/
	width: 38em;
	width:  40%;
	padding: 7px 0;
	padding-right: 3.5em;
/*	border: 1px solid #333;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.li-expo .kuenstler {
	margin-right: 5px;
}

.li-expo .datum-kurz {
	padding-left: 5px;
}

.li-expo .field-2 {
	float: right;
	color: #802de7;
	width: 60%;
	text-align: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.li-expo .sub-items {
	margin-top: 3px;
	margin-right: 15px;
	float: left;
/*	min-width: 5.5em;*/
/*	border: 1px solid #aaa;*/
}

.li-expo .sub-itm-publikationen {
/*	min-width: 8.5em;*/
/*	border: 1px solid #333;*/
}
.li-expo .sub-itm-tdc {
/*	min-width: 11em;*/
/*	background: #aaa;*/
}

.li-expo .sub-itm-clip {
/*	min-width: 6.5em;*/
}

.li-expo .sub-itm-tlk {
/*	min-width: 9em;*/
}

.prefix {
	margin-right: 5px;
}

.expo-vorschau,
.expo-vorschau a {
/*	color: #676767;*/
}
.expo-vorschau-prefix,
.expo-vorschau .prefix {
	font-style: italic;
	color: #f48800;
}
.expo-aktuell-prefix,
.expo-aktuell .prefix {
	font-style: italic;
	color: #dc0000;
}

/* @end */

/* @group Page-Listing */

.listing-main-title {
	color: #9C68E5;
	font-size: 190%;
	margin-bottom: 30px;
}

.list-item {
	width: 240px;
	float: left;
/*	padding-top: 10px;*/
	margin-right: 12px;
	margin-bottom: 12px;
}

/* @group Grid System */

/*
* note: 
* http://caniuse.com/#search=nth
* http://www.quirksmode.org/css/contents.html
* last-child
* :nth-child(): NOT supported by IE6-8
*/

.list-item:nth-child(4n) {
/*	margin-right: 0;*/
}
.list-item:nth-child(4n+1) {
/*	clear: left;*/
}

.grid-item-four {
	margin-right: 0;
/*	border: 1px solid #f0f;*/
}
.grid-item-four-plus {
	clear: left;
/*	border: 1px solid #0f0;*/
}

/* @end */

.list-item-inside {
	background: #fff;
	padding: 4px 10px;
}

.page-listing-blocks .list-item-inside {
	height: 154px;
	overflow: hidden;
}

.list-item-title {
	display: block;
/*	background: #fff;*/
	height: 2em;
}

.page-listing-blocks .list-item-tiefparterre .list-item-inside {
	background: #333;
	color: #fff;
}

.page-listing-blocks .list-item-tiefparterre a.unstyled,
.page-listing-blocks .list-item-tiefparterre a.unstyled:visited {
	color: #fff;
}

.page-listing-blocks .list-item-tiefparterre .a-link {
	border-bottom-color: #fff;
}

.exhib-link {
	font-style: italic;
	margin-left: 3px;
}

.list-item .prefix {
	padding-right: 2px;
}

.nav-listing {
	float: right;
	clear: none;
/*	background: #fff;*/
	margin-right: 28px;;
}

.nav-listing li {
	padding-right: 0;
}

.page-listing #exhib-ajax {
    width: 744px;
    margin-bottom: 12px;
}

.page-listing #exhib-ajax.vimeo-container {
	width: 496px;
	height: 374px;
	padding-top: 0px;
}

/*.page-listing .exhib-ajax-container .mainframe,*/
.page-listing .exhib-ajax-container .mainframe-header
 {
	margin-top: 0;
}

.page-listing .style-tiefparterre {
	background-color: #333;
	color: #fff;
}
.page-listing .style-tiefparterre a {
	color: #fff;
}

/* @end */

/* @group Page-Listing-Events */

.page-listing-events .list-item-inside {
	background: none;
	padding-top: 0;
	padding-bottom: 1px;
}

.list-events-main-box {
/*	border: 1px solid #333;*/
	width: 800px;
	position: relative;
	min-height: 4em;
/*	margin-bottom: 10px;*/
}

.list-events-main-box .list-events-title {
/*	background: #ddd;*/
	width: 250px;
	position: absolute;
/*	display: none;*/
}

.list-events-title p {
	margin: 0;
}

.list-events-main-box .list-item-box {
	margin-left: 300px;
/*	width: 400px;*/
	
/*	float: right;*/
	clear: none;
}

.list-events-main-box .list-item {
	background: none;
	float: none;
	width: 400px;
/*	border: 1px solid #333;*/
}

/* @end */

/* @group Page-Listing-Videos */

.list-item-video .list-item-inside {
	border: 0px solid #0f0;
	padding: 0;
	overflow: hidden;
/*	width: 240px;*/
	height: 180px;
	position: relative;
}

.vimeo-play-icon {
	background-image: url(../../images/arrow-vimeo.png);
	width: 41px;
	height: 39px;
	position: absolute;
	top:  65px;
	left: 100px;
}

.vimeo-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	margin: 0;
}

/* @end */

/* @group Search Results */

.search-results .search-item {
	margin: 1.3em 0;
}

/* @end */

/* @group COLORS */

.darker-grey {
	background-color: #c0c0c0;
}

.tiefparterre .darker-grey {
	background-color: #333;
}

.news-green {
	background-color: #9dc797;
}

/* @end */

.single-kk_material .related {
	margin-bottom: 10px;
}

/* @group Admin Styles */

#wp-admin-bar-new-page,
#wp-admin-bar-new-link,
#wp-admin-bar-new-media
{display:none}

/* @end */




/* end of CSS Document */